<hr/>

<div class="row">
  <div class="col-sm-6">
    <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="angle_option" autocomplete="off" checked value="angle"> Angle
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="speed_option" autocomplete="off" value="speed"> Speed
  </label>

</div>
  </div>
  <div class="col-sm-6">
    <div class='angle_sel <%= "inactive" if params.key? :velocity %>'>
    Angle:<%= select(:stroke, :angle, @angles,:selected=>params[:angle] )%>
    </div>
    <div class='speed_sel <%= "active" if params.key? :velocity %>'>
    Speed:<%= select(:stroke, :velocity, @speeds,:selected=>params[:velocity] )%>
    </div>
  </div>

</div>
<div id="test"></div>

<div class="row">

  <div class="col-sm-12">
    <table class="table table-striped table-sm">
      <thead class="thead-default">
        <tr>
          <th>Speed</th>
          <th>Angle</th>
          <th>Height</th>
          <th>Rise Time(s)</th>
          <th>Hit Distance</th>
          <th>Hit Time(s)</th>
          <th>Flight Distance</th>
          <th>Flight Time</th>
        </tr>
      </thead>
      <tbody>
        <% @strokes.each do |stroke| %>
        <tr>
          <th scope="row"><%= stroke.velocity %></th>
          <td><%= stroke.angle %></td>
          <td><%= stroke.height.round(2) %></td>
          <td><%= stroke.rise_time.round(2) %></td>
          <td><%= stroke.hit_point.distance.round(2) if stroke.hit_point.present?%></td>
          <td><%= (stroke.hit_point.flight_time).round(2) if stroke.hit_point.present? %></td>
          <td><%= stroke.ground_point.distance.round(2) if stroke.ground_point.present?%></td>
          <td><%= (stroke.ground_point.flight_time).round(2) if stroke.ground_point.present? %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
